  <div class="productsHeader">
  <mat-toolbar>
    <mat-toolbar-row>
      <ul class="row">
        <button class="category col" *ngFor="let category of categories" (click)="getByCategoryId(category)" >
          {{category.categoryName}}
        </button>
      </ul>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="productsBody mt-1">
  <div class="row">
    <div class="col-3 mt-2" *ngFor="let product of products">

      <mat-card class="example-card" [ngStyle]="{'background': 'url(' + product.imgUrl + ') no-repeat 0 0 / cover'}">
        <mat-card-header>

          <mat-card-subtitle>{{product.productName}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-actions>

            <button (click)="addToCart(product)" mat-button>Sepete ekle</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>


</div>