<div class="cartHeader ">
  <mat-toolbar color="">
    <mat-toolbar-row>
      <span>Basic Shop</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div style="height:550px;background-color:rgb(255, 253, 249);
;overflow: auto;
">
  <div class="cartBody">
    <!-- /////////////////////////////////////////////////////////////////////// -->
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Adet</th>
          <th scope="col">Ürün Adı</th>
          <th scope="col">Birim fiyatı</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cartItem of catchedProducts.cartItems">
          <td>{{cartItem.quantity}}</td>
          <td>{{cartItem.product.productName}}</td>
          <td>{{cartItem.product.unitPrice}}</td>
          <td><button (click)="removeFromCart(cartItem)" mat-stroked-button color="warn">Sepetten kaldır</button></td>
        </tr>
      </tbody>
    </table>

    <!-- ////////////////////////////////////////////////////////////// -->
  </div>
</div>

<div class="cartFooter mt-1">
  <div class="row">

    <div class="col m-0">Toplam tutar:<br>{{totalPrice}}</div>
    <button color="primary" (click)="buy()" mat-button class="col">SATIN AL</button>
  </div>
</div>